.o_accounts_heirarchy_table table tbody td{
    padding-left: 0.7rem !important;
    padding-right: 0rem !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}
.o_accounts_hierarchy_action{
    cursor: pointer !important;
}
